*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #D4D4C4;
    --clr-dark: #111111;
    --clr-accent: #9D1B2E;
    --clr-darkSection: #1f1f1f;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.5), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.25);
    --background-color: var(--clr-light);
    --font-color: var(--clr-dark);
    --toggle-color: var(--clr-dark);
    --section-color: var(--clr-darkSection);
    scroll-behavior: smooth;
}

:root.dark {
    --background-color: var(--clr-dark);
    --toggle-color: var(--clr-light);
    --font-color: var(--clr-light);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--clr-dark);
        --font-color: var(--clr-light);
    }

    :root.light {
        --background-color: var(--clr-light);
        --font-color: var(--clr-dark);
    }
}

/*General styles*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
}

body {
    background: var(--background-color);
    color: var(--font-color);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: background 500ms ease-in-out, color 250ms ease-in-out;
    overflow-y: scroll;
    user-select: none;
    cursor: default;
}

section {
    padding: 1.5em 2em;
}

img {
    display: block;
    max-width: 100%
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 2px solid var(--clr-accent);
    outline-offset: 3px;
}

/*BTNS*/

.toggle-switch {
    display: block;
}

#toggle-input {
    display: none;
}

.toggle-switch__control {
    width: 40px;
    height: 14px;
    border-radius: 7px;
    position: relative;
    background: #b8a8a8;
    cursor: pointer;
    margin: 50px auto;
}

.toggle-switch__control::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    left: -1px;
    top: -3px;
    background: var(--toggle-color);
    transition: left 0.25s;
}

#toggle-input:checked+.toggle-switch__control::after {
    left: 21px;
}

/*Typography*/

strong#Name {
    font-family: Source Code Pro, monospace;
    position: relative;
    padding-bottom: 0.2em;
}

strong#Name::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: var(--background-color);
    filter: invert(1);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    z-index: -1;
}

strong#Name:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}



/* Header */

.header__bar {
    background: #802d2d;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: var(--bs);
    height: 3em;
    opacity: 0;
}

.theme__selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: var(--bs);
}

.theme__logo {
    display: block;
    padding: 0.5em;


}

.logo__toggle-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    position: absolute;
    top: 0.5em;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Nav Menu */

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger__icon {
    box-shadow: var(--bs);
}

.hamburger::before {
    top: 5px
}

.hamburger::after {
    bottom: 5px
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

/* Intro Section */

.intro {
    padding-top: 15%;
    padding-bottom: 15%;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);

    }
}

.about-me,
.my-experience {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.about-me.is-visible,
.my-experience.is-visible {
  opacity: 1;
  visibility: visible;
  padding-top: 5em;
}

/* About me Section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10em;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width:600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My experience Section */

.my-experience {
    margin-top: 5em;
    background-color: var(--clr-darkSection);
    background-image: url(../img/experience-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #000000e9;
    color: var(--clr-light);
    text-align: justify;
    text-justify: inter-word;
}

.section__title--experience {
    color: var(--clr-light);
    position: relative;
    text-align: center;
}

.section__title--experience::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.experience {
    margin-bottom: 4em;
    /*  margin-left: 4em; */
}

.service {
    max-width: 450px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .experience {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service+.service {
        margin-left: 2em;
    }
}



/* Education Section */


/* Skills Section */


/* Footer */

.footer {
    background: var(--background-color);
    color: var(--font-color);
    text-align: center;
    padding: 0.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.5em 0 0;
    padding: 0.1px;
}

.social-list__link {
    padding: 0.5em;
}